<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICovidService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58753/CovidService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICovidService" contract="CovidReference.ICovidService"
                name="WSHttpBinding_ICovidService">
                <identity>
                    <userPrincipalName value="DESKTOP-FBEBMTK\pc" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>